makeautomation/blueprint.json
{
    "name": "VoiceflowLeads",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 1025914,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "Voiceflow"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": [
                    {
                        "name": "Email",
                        "type": "text"
                    },
                    {
                        "name": "Name",
                        "type": "text"
                    },
                    {
                        "name": "Business",
                        "type": "text"
                    },
                    {
                        "name": "ServiceType",
                        "type": "text"
                    },
                    {
                        "name": "ServiceDetails",
                        "type": "text"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 7,
                            "module": "google-sheets:addRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 612862
                            },
                            "mapper": {
                                "from": "drive",
                                "mode": "select",
                                "values": {
                                    "0": "{{1.Business}}",
                                    "1": "{{1.Name}}",
                                    "2": "{{1.Email}}",
                                    "3": "{{1.ServiceType}}",
                                    "4": "{{1.ServiceDetails}}"
                                },
                                "sheetId": "Arkusz1",
                                "spreadsheetId": "/1DgpZSjFeGdf_kl15Vofjn_O_YYmcnhyZ/1SYkzaXvKSFu4sXX8e_tzQtX-fvynexw3/1I9lYp2gAjeF0RfWuuEteeC5kpVasymrlSJKhVR8cAsk",
                                "includesHeaders": true,
                                "insertDataOption": "INSERT_ROWS",
                                "valueInputOption": "USER_ENTERED",
                                "insertUnformatted": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": -450
                                },
                                "restore": {
                                    "expect": {
                                        "from": {
                                            "label": "My Drive"
                                        },
                                        "mode": {
                                            "label": "Search by path"
                                        },
                                        "sheetId": {
                                            "label": "Arkusz1"
                                        },
                                        "spreadsheetId": {
                                            "path": [
                                                "Aiware",
                                                "ClientsProjects",
                                                "Leads"
                                            ]
                                        },
                                        "includesHeaders": {
                                            "label": "Yes",
                                            "nested": [
                                                {
                                                    "name": "values",
                                                    "spec": [
                                                        {
                                                            "name": "0",
                                                            "type": "text",
                                                            "label": "Potencjalni klienci (A)"
                                                        },
                                                        {
                                                            "name": "1",
                                                            "type": "text",
                                                            "label": "Nazwa (B)"
                                                        },
                                                        {
                                                            "name": "2",
                                                            "type": "text",
                                                            "label": "Email (C)"
                                                        },
                                                        {
                                                            "name": "3",
                                                            "type": "text",
                                                            "label": "AppType/Subject (D)"
                                                        },
                                                        {
                                                            "name": "4",
                                                            "type": "text",
                                                            "label": "Details / Information (E)"
                                                        },
                                                        {
                                                            "name": "5",
                                                            "type": "text",
                                                            "label": "Etap (F)"
                                                        },
                                                        {
                                                            "name": "6",
                                                            "type": "text",
                                                            "label": "Szac. wartość (G)"
                                                        },
                                                        {
                                                            "name": "7",
                                                            "type": "text",
                                                            "label": "Właściciel relacji (H)"
                                                        },
                                                        {
                                                            "name": "8",
                                                            "type": "text",
                                                            "label": "Prawdopodobieństwo (I)"
                                                        },
                                                        {
                                                            "name": "9",
                                                            "type": "text",
                                                            "label": "Notatki (J)"
                                                        },
                                                        {
                                                            "name": "10",
                                                            "type": "text",
                                                            "label": "(K)"
                                                        },
                                                        {
                                                            "name": "11",
                                                            "type": "text",
                                                            "label": "(L)"
                                                        },
                                                        {
                                                            "name": "12",
                                                            "type": "text",
                                                            "label": "(M)"
                                                        },
                                                        {
                                                            "name": "13",
                                                            "type": "text",
                                                            "label": "(N)"
                                                        },
                                                        {
                                                            "name": "14",
                                                            "type": "text",
                                                            "label": "(O)"
                                                        },
                                                        {
                                                            "name": "15",
                                                            "type": "text",
                                                            "label": "(P)"
                                                        },
                                                        {
                                                            "name": "16",
                                                            "type": "text",
                                                            "label": "(Q)"
                                                        },
                                                        {
                                                            "name": "17",
                                                            "type": "text",
                                                            "label": "(R)"
                                                        },
                                                        {
                                                            "name": "18",
                                                            "type": "text",
                                                            "label": "(S)"
                                                        },
                                                        {
                                                            "name": "19",
                                                            "type": "text",
                                                            "label": "(T)"
                                                        },
                                                        {
                                                            "name": "20",
                                                            "type": "text",
                                                            "label": "(U)"
                                                        },
                                                        {
                                                            "name": "21",
                                                            "type": "text",
                                                            "label": "(V)"
                                                        },
                                                        {
                                                            "name": "22",
                                                            "type": "text",
                                                            "label": "(W)"
                                                        },
                                                        {
                                                            "name": "23",
                                                            "type": "text",
                                                            "label": "(X)"
                                                        },
                                                        {
                                                            "name": "24",
                                                            "type": "text",
                                                            "label": "(Y)"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Values"
                                                }
                                            ]
                                        },
                                        "insertDataOption": {
                                            "mode": "chose",
                                            "label": "Insert rows"
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        },
                                        "insertUnformatted": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "My Google connection (macaipiotr@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertUnformatted",
                                        "type": "boolean",
                                        "label": "Unformatted",
                                        "required": true
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertDataOption",
                                        "type": "select",
                                        "label": "Insert data option",
                                        "validate": {
                                            "enum": [
                                                "INSERT_ROWS",
                                                "OVERWRITE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "file",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "spec": [
                                            {
                                                "name": "0",
                                                "type": "text",
                                                "label": "Potencjalni klienci (A)"
                                            },
                                            {
                                                "name": "1",
                                                "type": "text",
                                                "label": "Nazwa (B)"
                                            },
                                            {
                                                "name": "2",
                                                "type": "text",
                                                "label": "Email (C)"
                                            },
                                            {
                                                "name": "3",
                                                "type": "text",
                                                "label": "AppType/Subject (D)"
                                            },
                                            {
                                                "name": "4",
                                                "type": "text",
                                                "label": "Details / Information (E)"
                                            },
                                            {
                                                "name": "5",
                                                "type": "text",
                                                "label": "Etap (F)"
                                            },
                                            {
                                                "name": "6",
                                                "type": "text",
                                                "label": "Szac. wartość (G)"
                                            },
                                            {
                                                "name": "7",
                                                "type": "text",
                                                "label": "Właściciel relacji (H)"
                                            },
                                            {
                                                "name": "8",
                                                "type": "text",
                                                "label": "Prawdopodobieństwo (I)"
                                            },
                                            {
                                                "name": "9",
                                                "type": "text",
                                                "label": "Notatki (J)"
                                            },
                                            {
                                                "name": "10",
                                                "type": "text",
                                                "label": "(K)"
                                            },
                                            {
                                                "name": "11",
                                                "type": "text",
                                                "label": "(L)"
                                            },
                                            {
                                                "name": "12",
                                                "type": "text",
                                                "label": "(M)"
                                            },
                                            {
                                                "name": "13",
                                                "type": "text",
                                                "label": "(N)"
                                            },
                                            {
                                                "name": "14",
                                                "type": "text",
                                                "label": "(O)"
                                            },
                                            {
                                                "name": "15",
                                                "type": "text",
                                                "label": "(P)"
                                            },
                                            {
                                                "name": "16",
                                                "type": "text",
                                                "label": "(Q)"
                                            },
                                            {
                                                "name": "17",
                                                "type": "text",
                                                "label": "(R)"
                                            },
                                            {
                                                "name": "18",
                                                "type": "text",
                                                "label": "(S)"
                                            },
                                            {
                                                "name": "19",
                                                "type": "text",
                                                "label": "(T)"
                                            },
                                            {
                                                "name": "20",
                                                "type": "text",
                                                "label": "(U)"
                                            },
                                            {
                                                "name": "21",
                                                "type": "text",
                                                "label": "(V)"
                                            },
                                            {
                                                "name": "22",
                                                "type": "text",
                                                "label": "(W)"
                                            },
                                            {
                                                "name": "23",
                                                "type": "text",
                                                "label": "(X)"
                                            },
                                            {
                                                "name": "24",
                                                "type": "text",
                                                "label": "(Y)"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Values"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 8,
                            "module": "notion:createAPage",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 2450647
                            },
                            "mapper": {
                                "fields": {
                                    "AJBl": {
                                        "includeTime": false
                                    },
                                    "_tzW": "{{1.Email}}",
                                    "title": "{{1.Name}} {{1.Email}}",
                                    "J%3FAu": "{{1.Email}} , {{1.Name}}",
                                    "N%3EzW": "{{1.ServiceType}} for {{1.Business}}: {{1.ServiceDetails}}"
                                },
                                "select": "list",
                                "database": "117b65dd-efcf-8091-894d-ff0f694cadce"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": -150
                                },
                                "restore": {
                                    "expect": {
                                        "fields": {
                                            "nested": {
                                                "AJBl": {
                                                    "nested": {
                                                        "includeTime": {
                                                            "mode": "chose",
                                                            "label": "No"
                                                        }
                                                    }
                                                },
                                                "neN%7C": {
                                                    "mode": "chose"
                                                }
                                            }
                                        },
                                        "select": {
                                            "label": "Select from the list"
                                        },
                                        "database": {
                                            "nested": [
                                                {
                                                    "name": "fields",
                                                    "spec": [
                                                        {
                                                            "name": "title",
                                                            "type": "text",
                                                            "label": "Name",
                                                            "metadata": {
                                                                "type": "title"
                                                            },
                                                            "required": true
                                                        },
                                                        {
                                                            "name": "%40%5Byu",
                                                            "type": "text",
                                                            "label": "Value",
                                                            "metadata": {
                                                                "type": "rich_text"
                                                            }
                                                        },
                                                        {
                                                            "name": "AJBl",
                                                            "spec": [
                                                                {
                                                                    "name": "start",
                                                                    "type": "date",
                                                                    "label": "Start Time"
                                                                },
                                                                {
                                                                    "help": "Optional. Use only when entering a date range.",
                                                                    "name": "end",
                                                                    "type": "date",
                                                                    "label": "End Time"
                                                                },
                                                                {
                                                                    "name": "includeTime",
                                                                    "type": "select",
                                                                    "label": "Include Time",
                                                                    "options": [
                                                                        {
                                                                            "label": "Yes",
                                                                            "value": true
                                                                        },
                                                                        {
                                                                            "label": "No",
                                                                            "value": false,
                                                                            "default": true
                                                                        }
                                                                    ]
                                                                }
                                                            ],
                                                            "type": "collection",
                                                            "label": "Date"
                                                        },
                                                        {
                                                            "name": "Ckwc",
                                                            "type": "url",
                                                            "label": "Profile",
                                                            "metadata": {
                                                                "type": "url"
                                                            }
                                                        },
                                                        {
                                                            "name": "J%3FAu",
                                                            "type": "text",
                                                            "label": "Lead",
                                                            "metadata": {
                                                                "type": "rich_text"
                                                            }
                                                        },
                                                        {
                                                            "name": "N%3EzW",
                                                            "type": "text",
                                                            "label": "Project Brief",
                                                            "metadata": {
                                                                "type": "rich_text"
                                                            }
                                                        },
                                                        {
                                                            "name": "ZhT%5C",
                                                            "type": "url",
                                                            "label": "App",
                                                            "metadata": {
                                                                "type": "url"
                                                            }
                                                        },
                                                        {
                                                            "name": "_tzW",
                                                            "type": "email",
                                                            "label": "Email",
                                                            "metadata": {
                                                                "type": "email"
                                                            }
                                                        },
                                                        {
                                                            "name": "neN%7C",
                                                            "type": "select",
                                                            "label": "Tags",
                                                            "options": [],
                                                            "metadata": {
                                                                "type": "multi_select"
                                                            },
                                                            "multiple": true,
                                                            "validate": false
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Fields"
                                                }
                                            ]
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "notion3"
                                            },
                                            "label": "AinsiderToolsMakeCom"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:notion2,notion3",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "select",
                                        "type": "select",
                                        "label": "Enter a Database ID",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "map",
                                                "list"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "database",
                                        "type": "text",
                                        "label": "Database ID",
                                        "required": true
                                    },
                                    {
                                        "name": "fields",
                                        "spec": [
                                            {
                                                "name": "title",
                                                "type": "text",
                                                "label": "Name",
                                                "metadata": {
                                                    "type": "title"
                                                },
                                                "required": true
                                            },
                                            {
                                                "name": "%40%5Byu",
                                                "type": "text",
                                                "label": "Value",
                                                "metadata": {
                                                    "type": "rich_text"
                                                }
                                            },
                                            {
                                                "name": "AJBl",
                                                "spec": [
                                                    {
                                                        "name": "start",
                                                        "type": "date",
                                                        "label": "Start Time"
                                                    },
                                                    {
                                                        "name": "end",
                                                        "type": "date",
                                                        "label": "End Time"
                                                    },
                                                    {
                                                        "name": "includeTime",
                                                        "type": "select",
                                                        "label": "Include Time",
                                                        "validate": {
                                                            "enum": [
                                                                true,
                                                                false
                                                            ]
                                                        }
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Date"
                                            },
                                            {
                                                "name": "Ckwc",
                                                "type": "url",
                                                "label": "Profile",
                                                "metadata": {
                                                    "type": "url"
                                                }
                                            },
                                            {
                                                "name": "J%3FAu",
                                                "type": "text",
                                                "label": "Lead",
                                                "metadata": {
                                                    "type": "rich_text"
                                                }
                                            },
                                            {
                                                "name": "N%3EzW",
                                                "type": "text",
                                                "label": "Project Brief",
                                                "metadata": {
                                                    "type": "rich_text"
                                                }
                                            },
                                            {
                                                "name": "ZhT%5C",
                                                "type": "url",
                                                "label": "App",
                                                "metadata": {
                                                    "type": "url"
                                                }
                                            },
                                            {
                                                "name": "_tzW",
                                                "type": "email",
                                                "label": "Email",
                                                "metadata": {
                                                    "type": "email"
                                                }
                                            },
                                            {
                                                "name": "neN%7C",
                                                "type": "select",
                                                "label": "Tags",
                                                "metadata": {
                                                    "type": "multi_select"
                                                },
                                                "multiple": true
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Fields"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "object",
                                        "type": "text",
                                        "label": "Object"
                                    },
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "Database Item ID"
                                    },
                                    {
                                        "name": "created_time",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "last_edited_time",
                                        "type": "date",
                                        "label": "Last Edited Time"
                                    },
                                    {
                                        "name": "created_by",
                                        "spec": [
                                            {
                                                "name": "object",
                                                "type": "text",
                                                "label": "Object"
                                            },
                                            {
                                                "name": "id",
                                                "type": "uuid",
                                                "label": "ID"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Created by"
                                    },
                                    {
                                        "name": "last_edited_by",
                                        "spec": [
                                            {
                                                "name": "object",
                                                "type": "text",
                                                "label": "Object"
                                            },
                                            {
                                                "name": "id",
                                                "type": "uuid",
                                                "label": "ID"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Last Edited by"
                                    },
                                    {
                                        "name": "icon",
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "emoji",
                                                "type": "text",
                                                "label": "Emoji"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Icon"
                                    },
                                    {
                                        "name": "cover",
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "external",
                                                "spec": [
                                                    {
                                                        "name": "url",
                                                        "type": "text",
                                                        "label": "URL"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "External"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Cover"
                                    },
                                    {
                                        "name": "url",
                                        "type": "text",
                                        "label": "URL"
                                    },
                                    {
                                        "name": "parent",
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "workspace",
                                                "type": "boolean",
                                                "label": "Workspace"
                                            },
                                            {
                                                "name": "page_id",
                                                "type": "text",
                                                "label": "Page ID"
                                            },
                                            {
                                                "name": "database_id",
                                                "type": "text",
                                                "label": "Database ID"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Parent"
                                    },
                                    {
                                        "name": "archived",
                                        "type": "boolean",
                                        "label": "Archived"
                                    },
                                    {
                                        "name": "properties",
                                        "spec": {
                                            "spec": [
                                                {
                                                    "name": "id",
                                                    "type": "text",
                                                    "label": "ID"
                                                },
                                                {
                                                    "name": "type",
                                                    "type": "text",
                                                    "label": "Type"
                                                },
                                                {
                                                    "name": "people",
                                                    "spec": {
                                                        "spec": [
                                                            {
                                                                "name": "object",
                                                                "type": "text",
                                                                "label": "Object"
                                                            },
                                                            {
                                                                "name": "id",
                                                                "type": "text",
                                                                "label": "ID"
                                                            },
                                                            {
                                                                "name": "name",
                                                                "type": "text",
                                                                "label": "Name"
                                                            },
                                                            {
                                                                "name": "avatar_url",
                                                                "type": "text",
                                                                "label": "Avatar Url"
                                                            },
                                                            {
                                                                "name": "type",
                                                                "type": "text",
                                                                "label": "Type"
                                                            },
                                                            {
                                                                "name": "person",
                                                                "spec": [
                                                                    {
                                                                        "name": "email",
                                                                        "type": "text",
                                                                        "label": "Email"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Person"
                                                            }
                                                        ],
                                                        "type": "collection"
                                                    },
                                                    "type": "array",
                                                    "label": "People"
                                                },
                                                {
                                                    "name": "url",
                                                    "type": "text",
                                                    "label": "URL"
                                                },
                                                {
                                                    "name": "text",
                                                    "spec": {
                                                        "spec": [
                                                            {
                                                                "name": "type",
                                                                "type": "text",
                                                                "label": "Type"
                                                            },
                                                            {
                                                                "name": "text",
                                                                "spec": [
                                                                    {
                                                                        "name": "content",
                                                                        "type": "text",
                                                                        "label": "Content"
                                                                    },
                                                                    {
                                                                        "name": "link",
                                                                        "type": "text",
                                                                        "label": "Link"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Text"
                                                            },
                                                            {
                                                                "name": "annotations",
                                                                "spec": [
                                                                    {
                                                                        "name": "bold",
                                                                        "type": "boolean",
                                                                        "label": "Bold"
                                                                    },
                                                                    {
                                                                        "name": "italic",
                                                                        "type": "boolean",
                                                                        "label": "Italic"
                                                                    },
                                                                    {
                                                                        "name": "strikethrough",
                                                                        "type": "boolean",
                                                                        "label": "Strikethrough"
                                                                    },
                                                                    {
                                                                        "name": "underline",
                                                                        "type": "boolean",
                                                                        "label": "Underline"
                                                                    },
                                                                    {
                                                                        "name": "code",
                                                                        "type": "boolean",
                                                                        "label": "Code"
                                                                    },
                                                                    {
                                                                        "name": "color",
                                                                        "type": "text",
                                                                        "label": "Color"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Annotations"
                                                            },
                                                            {
                                                                "name": "plain_text",
                                                                "type": "text",
                                                                "label": "Plain Text"
                                                            },
                                                            {
                                                                "name": "href",
                                                                "type": "text",
                                                                "label": "Href"
                                                            }
                                                        ],
                                                        "type": "collection"
                                                    },
                                                    "type": "array",
                                                    "label": "Text"
                                                },
                                                {
                                                    "name": "select",
                                                    "spec": [
                                                        {
                                                            "name": "id",
                                                            "type": "text",
                                                            "label": "ID"
                                                        },
                                                        {
                                                            "name": "name",
                                                            "type": "text",
                                                            "label": "Name"
                                                        },
                                                        {
                                                            "name": "color",
                                                            "type": "text",
                                                            "label": "Color"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Select"
                                                },
                                                {
                                                    "name": "email",
                                                    "type": "text",
                                                    "label": "Email"
                                                },
                                                {
                                                    "name": "phone_number",
                                                    "type": "text",
                                                    "label": "Phone Number"
                                                },
                                                {
                                                    "name": "multi_select",
                                                    "spec": {
                                                        "spec": [
                                                            {
                                                                "name": "id",
                                                                "type": "text",
                                                                "label": "ID"
                                                            },
                                                            {
                                                                "name": "name",
                                                                "type": "text",
                                                                "label": "Name"
                                                            },
                                                            {
                                                                "name": "color",
                                                                "type": "text",
                                                                "label": "Color"
                                                            }
                                                        ],
                                                        "type": "collection"
                                                    },
                                                    "type": "array",
                                                    "label": "Multi Select"
                                                },
                                                {
                                                    "name": "date",
                                                    "spec": [
                                                        {
                                                            "name": "start",
                                                            "type": "text",
                                                            "label": "Start"
                                                        },
                                                        {
                                                            "name": "end",
                                                            "type": "text",
                                                            "label": "End"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Date"
                                                },
                                                {
                                                    "name": "checkbox",
                                                    "type": "boolean",
                                                    "label": "Checkbox"
                                                },
                                                {
                                                    "name": "number",
                                                    "type": "number",
                                                    "label": "Number"
                                                },
                                                {
                                                    "name": "files",
                                                    "spec": {
                                                        "spec": [
                                                            {
                                                                "name": "name",
                                                                "type": "text",
                                                                "label": "Name"
                                                            }
                                                        ],
                                                        "type": "collection"
                                                    },
                                                    "type": "array",
                                                    "label": "Files"
                                                },
                                                {
                                                    "name": "title",
                                                    "spec": {
                                                        "spec": [
                                                            {
                                                                "name": "type",
                                                                "type": "text",
                                                                "label": "Type"
                                                            },
                                                            {
                                                                "name": "text",
                                                                "spec": [
                                                                    {
                                                                        "name": "content",
                                                                        "type": "text",
                                                                        "label": "Content"
                                                                    },
                                                                    {
                                                                        "name": "link",
                                                                        "type": "text",
                                                                        "label": "Link"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Text"
                                                            },
                                                            {
                                                                "name": "annotations",
                                                                "spec": [
                                                                    {
                                                                        "name": "bold",
                                                                        "type": "boolean",
                                                                        "label": "Bold"
                                                                    },
                                                                    {
                                                                        "name": "italic",
                                                                        "type": "boolean",
                                                                        "label": "Italic"
                                                                    },
                                                                    {
                                                                        "name": "strikethrough",
                                                                        "type": "boolean",
                                                                        "label": "Strikethrough"
                                                                    },
                                                                    {
                                                                        "name": "underline",
                                                                        "type": "boolean",
                                                                        "label": "Underline"
                                                                    },
                                                                    {
                                                                        "name": "code",
                                                                        "type": "boolean",
                                                                        "label": "Code"
                                                                    },
                                                                    {
                                                                        "name": "color",
                                                                        "type": "text",
                                                                        "label": "Color"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Annotations"
                                                            },
                                                            {
                                                                "name": "plain_text",
                                                                "type": "text",
                                                                "label": "Plain Text"
                                                            },
                                                            {
                                                                "name": "href",
                                                                "type": "text",
                                                                "label": "Href"
                                                            }
                                                        ],
                                                        "type": "collection"
                                                    },
                                                    "type": "array",
                                                    "label": "Title"
                                                },
                                                {
                                                    "name": "last_edited_time",
                                                    "time": true,
                                                    "type": "date",
                                                    "label": "Last Edited Time"
                                                },
                                                {
                                                    "name": "created_time",
                                                    "time": true,
                                                    "type": "date",
                                                    "label": "Created Time"
                                                },
                                                {
                                                    "name": "last_edited_by",
                                                    "spec": [
                                                        {
                                                            "name": "object",
                                                            "type": "text",
                                                            "label": "Object"
                                                        },
                                                        {
                                                            "name": "id",
                                                            "type": "text",
                                                            "label": "ID"
                                                        },
                                                        {
                                                            "name": "name",
                                                            "type": "text",
                                                            "label": "Name"
                                                        },
                                                        {
                                                            "name": "avatar_url",
                                                            "type": "text",
                                                            "label": "Avatar Url"
                                                        },
                                                        {
                                                            "name": "type",
                                                            "type": "text",
                                                            "label": "Type"
                                                        },
                                                        {
                                                            "name": "person",
                                                            "spec": [
                                                                {
                                                                    "name": "email",
                                                                    "type": "text",
                                                                    "label": "Email"
                                                                }
                                                            ],
                                                            "type": "collection",
                                                            "label": "Person"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Last Edited By"
                                                },
                                                {
                                                    "name": "created_by",
                                                    "spec": [
                                                        {
                                                            "name": "object",
                                                            "type": "text",
                                                            "label": "Object"
                                                        },
                                                        {
                                                            "name": "id",
                                                            "type": "text",
                                                            "label": "ID"
                                                        },
                                                        {
                                                            "name": "name",
                                                            "type": "text",
                                                            "label": "Name"
                                                        },
                                                        {
                                                            "name": "avatar_url",
                                                            "type": "text",
                                                            "label": "Avatar Url"
                                                        },
                                                        {
                                                            "name": "type",
                                                            "type": "text",
                                                            "label": "Type"
                                                        },
                                                        {
                                                            "name": "person",
                                                            "spec": [
                                                                {
                                                                    "name": "email",
                                                                    "type": "text",
                                                                    "label": "Email"
                                                                }
                                                            ],
                                                            "type": "collection",
                                                            "label": "Person"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Created By"
                                                },
                                                {
                                                    "name": "formula",
                                                    "spec": [
                                                        {
                                                            "name": "type",
                                                            "type": "text",
                                                            "label": "Type"
                                                        },
                                                        {
                                                            "name": "string",
                                                            "type": "text",
                                                            "label": "String"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Formula"
                                                },
                                                {
                                                    "name": "relation",
                                                    "spec": {
                                                        "spec": [
                                                            {
                                                                "name": "id",
                                                                "type": "text",
                                                                "label": "ID"
                                                            }
                                                        ],
                                                        "type": "collection"
                                                    },
                                                    "type": "array",
                                                    "label": "Relation"
                                                },
                                                {
                                                    "name": "label",
                                                    "type": "text",
                                                    "label": "Label"
                                                }
                                            ],
                                            "type": "collection"
                                        },
                                        "type": "array",
                                        "label": "Properties"
                                    },
                                    {
                                        "name": "properties_value",
                                        "spec": [
                                            {
                                                "name": "Value",
                                                "spec": [
                                                    {
                                                        "name": "type",
                                                        "type": "text",
                                                        "label": "Type"
                                                    },
                                                    {
                                                        "name": "text",
                                                        "spec": [
                                                            {
                                                                "name": "content",
                                                                "type": "text",
                                                                "label": "Content"
                                                            },
                                                            {
                                                                "name": "link",
                                                                "type": "text",
                                                                "label": "Link"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Text"
                                                    },
                                                    {
                                                        "name": "annotations",
                                                        "spec": [
                                                            {
                                                                "name": "bold",
                                                                "type": "boolean",
                                                                "label": "Bold"
                                                            },
                                                            {
                                                                "name": "italic",
                                                                "type": "boolean",
                                                                "label": "Italic"
                                                            },
                                                            {
                                                                "name": "strikethrough",
                                                                "type": "boolean",
                                                                "label": "Strikethrough"
                                                            },
                                                            {
                                                                "name": "underline",
                                                                "type": "boolean",
                                                                "label": "Underline"
                                                            },
                                                            {
                                                                "name": "code",
                                                                "type": "boolean",
                                                                "label": "Code"
                                                            },
                                                            {
                                                                "name": "color",
                                                                "type": "text",
                                                                "label": "Color"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Annotations"
                                                    },
                                                    {
                                                        "name": "plain_text",
                                                        "type": "text",
                                                        "label": "Plain Text"
                                                    },
                                                    {
                                                        "name": "href",
                                                        "type": "text",
                                                        "label": "Href"
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Value"
                                            },
                                            {
                                                "name": "Date",
                                                "spec": [
                                                    {
                                                        "name": "start",
                                                        "type": "date",
                                                        "label": "Start"
                                                    },
                                                    {
                                                        "name": "end",
                                                        "type": "date",
                                                        "label": "End"
                                                    },
                                                    {
                                                        "name": "time_zone",
                                                        "type": "text",
                                                        "label": "Time Zone"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Date"
                                            },
                                            {
                                                "name": "Profile",
                                                "type": "text",
                                                "label": "Profile"
                                            },
                                            {
                                                "name": "Lead Win",
                                                "type": "any",
                                                "label": "Lead Win"
                                            },
                                            {
                                                "name": "Lead",
                                                "spec": [
                                                    {
                                                        "name": "type",
                                                        "type": "text",
                                                        "label": "Type"
                                                    },
                                                    {
                                                        "name": "text",
                                                        "spec": [
                                                            {
                                                                "name": "content",
                                                                "type": "text",
                                                                "label": "Content"
                                                            },
                                                            {
                                                                "name": "link",
                                                                "type": "text",
                                                                "label": "Link"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Text"
                                                    },
                                                    {
                                                        "name": "annotations",
                                                        "spec": [
                                                            {
                                                                "name": "bold",
                                                                "type": "boolean",
                                                                "label": "Bold"
                                                            },
                                                            {
                                                                "name": "italic",
                                                                "type": "boolean",
                                                                "label": "Italic"
                                                            },
                                                            {
                                                                "name": "strikethrough",
                                                                "type": "boolean",
                                                                "label": "Strikethrough"
                                                            },
                                                            {
                                                                "name": "underline",
                                                                "type": "boolean",
                                                                "label": "Underline"
                                                            },
                                                            {
                                                                "name": "code",
                                                                "type": "boolean",
                                                                "label": "Code"
                                                            },
                                                            {
                                                                "name": "color",
                                                                "type": "text",
                                                                "label": "Color"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Annotations"
                                                    },
                                                    {
                                                        "name": "plain_text",
                                                        "type": "text",
                                                        "label": "Plain Text"
                                                    },
                                                    {
                                                        "name": "href",
                                                        "type": "text",
                                                        "label": "Href"
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Lead"
                                            },
                                            {
                                                "name": "Project Brief",
                                                "spec": [
                                                    {
                                                        "name": "type",
                                                        "type": "text",
                                                        "label": "Type"
                                                    },
                                                    {
                                                        "name": "text",
                                                        "spec": [
                                                            {
                                                                "name": "content",
                                                                "type": "text",
                                                                "label": "Content"
                                                            },
                                                            {
                                                                "name": "link",
                                                                "type": "text",
                                                                "label": "Link"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Text"
                                                    },
                                                    {
                                                        "name": "annotations",
                                                        "spec": [
                                                            {
                                                                "name": "bold",
                                                                "type": "boolean",
                                                                "label": "Bold"
                                                            },
                                                            {
                                                                "name": "italic",
                                                                "type": "boolean",
                                                                "label": "Italic"
                                                            },
                                                            {
                                                                "name": "strikethrough",
                                                                "type": "boolean",
                                                                "label": "Strikethrough"
                                                            },
                                                            {
                                                                "name": "underline",
                                                                "type": "boolean",
                                                                "label": "Underline"
                                                            },
                                                            {
                                                                "name": "code",
                                                                "type": "boolean",
                                                                "label": "Code"
                                                            },
                                                            {
                                                                "name": "color",
                                                                "type": "text",
                                                                "label": "Color"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Annotations"
                                                    },
                                                    {
                                                        "name": "plain_text",
                                                        "type": "text",
                                                        "label": "Plain Text"
                                                    },
                                                    {
                                                        "name": "href",
                                                        "type": "text",
                                                        "label": "Href"
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Project Brief"
                                            },
                                            {
                                                "name": "App",
                                                "type": "text",
                                                "label": "App"
                                            },
                                            {
                                                "name": "Email",
                                                "type": "text",
                                                "label": "Email"
                                            },
                                            {
                                                "name": "Tags",
                                                "spec": [
                                                    {
                                                        "name": "id",
                                                        "type": "text",
                                                        "label": "ID"
                                                    },
                                                    {
                                                        "name": "name",
                                                        "type": "text",
                                                        "label": "Name"
                                                    },
                                                    {
                                                        "name": "color",
                                                        "type": "text",
                                                        "label": "Color"
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Tags"
                                            },
                                            {
                                                "name": "Name",
                                                "spec": [
                                                    {
                                                        "name": "type",
                                                        "type": "text",
                                                        "label": "Type"
                                                    },
                                                    {
                                                        "name": "text",
                                                        "spec": [
                                                            {
                                                                "name": "content",
                                                                "type": "text",
                                                                "label": "Content"
                                                            },
                                                            {
                                                                "name": "link",
                                                                "type": "text",
                                                                "label": "Link"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Text"
                                                    },
                                                    {
                                                        "name": "annotations",
                                                        "spec": [
                                                            {
                                                                "name": "bold",
                                                                "type": "boolean",
                                                                "label": "Bold"
                                                            },
                                                            {
                                                                "name": "italic",
                                                                "type": "boolean",
                                                                "label": "Italic"
                                                            },
                                                            {
                                                                "name": "strikethrough",
                                                                "type": "boolean",
                                                                "label": "Strikethrough"
                                                            },
                                                            {
                                                                "name": "underline",
                                                                "type": "boolean",
                                                                "label": "Underline"
                                                            },
                                                            {
                                                                "name": "code",
                                                                "type": "boolean",
                                                                "label": "Code"
                                                            },
                                                            {
                                                                "name": "color",
                                                                "type": "text",
                                                                "label": "Color"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Annotations"
                                                    },
                                                    {
                                                        "name": "plain_text",
                                                        "type": "text",
                                                        "label": "Plain Text"
                                                    },
                                                    {
                                                        "name": "href",
                                                        "type": "text",
                                                        "label": "Href"
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Name"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Properties Value"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 9,
                            "module": "google-email:ActionSendEmail",
                            "version": 2,
                            "parameters": {
                                "account": 3155580
                            },
                            "mapper": {
                                "cc": [],
                                "to": [
                                    "piotr@insdr.cloud"
                                ],
                                "bcc": [],
                                "from": "",
                                "html": "Business: {{1.Business}}\nName: {{1.Name}}\nService: {{1.ServiceType}}\nDetails: {{1.ServiceDetails}}",
                                "subject": "{{1.ServiceType}} for {{1.ServiceType}}",
                                "attachments": []
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 150
                                },
                                "restore": {
                                    "expect": {
                                        "cc": {
                                            "mode": "chose"
                                        },
                                        "to": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "bcc": {
                                            "mode": "chose"
                                        },
                                        "attachments": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "account": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google-restricted"
                                            },
                                            "label": "macaipiotr@gmail (macaipiotr@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "account",
                                        "type": "account:google-restricted",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "from",
                                        "type": "text",
                                        "label": "From"
                                    },
                                    {
                                        "name": "to",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address",
                                            "required": true
                                        },
                                        "type": "array",
                                        "label": "To",
                                        "required": true
                                    },
                                    {
                                        "name": "subject",
                                        "type": "text",
                                        "label": "Subject"
                                    },
                                    {
                                        "name": "html",
                                        "type": "text",
                                        "label": "Content"
                                    },
                                    {
                                        "name": "attachments",
                                        "spec": [
                                            {
                                                "name": "fileName",
                                                "type": "filename",
                                                "label": "File name",
                                                "required": true,
                                                "semantic": "file:name"
                                            },
                                            {
                                                "name": "data",
                                                "type": "buffer",
                                                "label": "Data",
                                                "required": true,
                                                "semantic": "file:data"
                                            },
                                            {
                                                "name": "cid",
                                                "type": "text",
                                                "label": "Content-ID"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Attachments"
                                    },
                                    {
                                        "name": "cc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address"
                                        },
                                        "type": "array",
                                        "label": "Copy recipient"
                                    },
                                    {
                                        "name": "bcc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address"
                                        },
                                        "type": "array",
                                        "label": "Blind copy recipient"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 10,
                            "module": "airtable:ActionCreateRecord",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 2857586
                            },
                            "mapper": {
                                "base": "appBi1L1Lalv6Asvt",
                                "table": "tblbG7OkZxAyWiFdF",
                                "record": {
                                    "fldEjpVXf8yQXKOjJ": "{{1.Email}}",
                                    "fldGvPP4woejPlACI": "Service: {{1.ServiceType}}",
                                    "fldUUyYQMCPLwHlC4": "{{1.Business}} - {{1.Email}}",
                                    "fldYbf3vopZIL3mdb": "{{1.ServiceType}}",
                                    "fldrNYj55oiGIKby1": "Details: {{1.ServiceDetails}}"
                                },
                                "typecast": false,
                                "useColumnId": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 450
                                },
                                "restore": {
                                    "expect": {
                                        "base": {
                                            "label": "Project Management"
                                        },
                                        "table": {
                                            "label": "Leads",
                                            "nested": [
                                                {
                                                    "name": "record",
                                                    "spec": [
                                                        {
                                                            "name": "fldUUyYQMCPLwHlC4",
                                                            "type": "text",
                                                            "label": "Name"
                                                        },
                                                        {
                                                            "name": "fldEjpVXf8yQXKOjJ",
                                                            "type": "text",
                                                            "label": "Email"
                                                        },
                                                        {
                                                            "name": "fldYbf3vopZIL3mdb",
                                                            "type": "text",
                                                            "label": "AppType"
                                                        },
                                                        {
                                                            "name": "fldGvPP4woejPlACI",
                                                            "type": "text",
                                                            "label": "Brief",
                                                            "multiline": true
                                                        },
                                                        {
                                                            "name": "fldrNYj55oiGIKby1",
                                                            "type": "text",
                                                            "label": "BriefDetails",
                                                            "multiline": true
                                                        },
                                                        {
                                                            "name": "fld6Usw28T3SaD2Lt",
                                                            "type": "text",
                                                            "label": "Phone"
                                                        },
                                                        {
                                                            "mode": "edit",
                                                            "name": "fldcZE0RkGSGoLRB6",
                                                            "type": "select",
                                                            "label": "Status",
                                                            "dynamic": true,
                                                            "options": [
                                                                {
                                                                    "label": "Cold",
                                                                    "value": "Cold"
                                                                },
                                                                {
                                                                    "label": "In progress",
                                                                    "value": "In progress"
                                                                },
                                                                {
                                                                    "label": "Already Done",
                                                                    "value": "Already Done"
                                                                },
                                                                {
                                                                    "label": "Done",
                                                                    "value": "Done"
                                                                }
                                                            ],
                                                            "validate": false
                                                        },
                                                        {
                                                            "name": "fldkgcLfYz1SlIxCj",
                                                            "type": "text",
                                                            "label": "Notes",
                                                            "multiline": true
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Record"
                                                }
                                            ]
                                        },
                                        "record": {
                                            "nested": {
                                                "fldcZE0RkGSGoLRB6": {
                                                    "mode": "chose",
                                                    "label": "Empty"
                                                }
                                            }
                                        },
                                        "typecast": {
                                            "mode": "chose"
                                        },
                                        "useColumnId": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "airtable3"
                                            },
                                            "label": "Airtablemacaipiotr (User ID: usrFNkHHxkT6OZJb2)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable3,airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "typecast",
                                        "type": "boolean",
                                        "label": "Smart links",
                                        "required": true
                                    },
                                    {
                                        "name": "useColumnId",
                                        "type": "boolean",
                                        "label": "Use Column ID",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "record",
                                        "spec": [
                                            {
                                                "name": "fldUUyYQMCPLwHlC4",
                                                "type": "text",
                                                "label": "Name"
                                            },
                                            {
                                                "name": "fldEjpVXf8yQXKOjJ",
                                                "type": "text",
                                                "label": "Email"
                                            },
                                            {
                                                "name": "fldYbf3vopZIL3mdb",
                                                "type": "text",
                                                "label": "AppType"
                                            },
                                            {
                                                "name": "fldGvPP4woejPlACI",
                                                "type": "text",
                                                "label": "Brief"
                                            },
                                            {
                                                "name": "fldrNYj55oiGIKby1",
                                                "type": "text",
                                                "label": "BriefDetails"
                                            },
                                            {
                                                "name": "fld6Usw28T3SaD2Lt",
                                                "type": "text",
                                                "label": "Phone"
                                            },
                                            {
                                                "mode": "edit",
                                                "name": "fldcZE0RkGSGoLRB6",
                                                "type": "select",
                                                "label": "Status"
                                            },
                                            {
                                                "name": "fldkgcLfYz1SlIxCj",
                                                "type": "text",
                                                "label": "Notes"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "createdTime",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "Name",
                                        "type": "text",
                                        "label": "Name"
                                    },
                                    {
                                        "name": "Email",
                                        "type": "text",
                                        "label": "Email"
                                    },
                                    {
                                        "name": "AppType",
                                        "type": "text",
                                        "label": "AppType"
                                    },
                                    {
                                        "name": "Brief",
                                        "type": "text",
                                        "label": "Brief",
                                        "multiline": true
                                    },
                                    {
                                        "name": "BriefDetails",
                                        "type": "text",
                                        "label": "BriefDetails",
                                        "multiline": true
                                    },
                                    {
                                        "name": "Phone",
                                        "type": "text",
                                        "label": "Phone"
                                    },
                                    {
                                        "name": "Status",
                                        "type": "text",
                                        "label": "Status"
                                    },
                                    {
                                        "name": "Notes",
                                        "type": "text",
                                        "label": "Notes",
                                        "multiline": true
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com"
    }
}